# Ignore all
*

# Allow directories
!*/

# Allow specific source files
!*.c
!*.h
!configure.ac
!Makefile.am

# Ignore artefacts
*.o
*.a
Makefile
Makefile.in
configure
config.status
autom4te.cache/
src/AppliLib/include/
src/CommonLib/include/
src/ParseLib/include/
Grammar2.lex.c
Grammar2.parse.c
Grammar2.parse.h
*.log
test.pool
